.app {
  height: 100vh;
}

.nav {
  height: 60px;
}

.nav__tab {
  margin: 5%;
}

.footer {
  font-size: 14px;
}

/* Nav */

.menu {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 18px;
}
.menu li {
  /* margin-right: 30px; */
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  padding-top: 2px;
}
.menu a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
ul.menu {
  background-color: #000000;
  font-size: .85em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
}
ul.menu > li {
  display: inline-block; 
  position: relative; 
}
ul.menu > li.clothes ul {
  margin-left: -19px;
  display: none; 
  position: absolute; 
  width: 120px;
  margin-top: 1px;
}
ul.menu > li.shoes ul {
  margin-left: -20px;
  display: none; 
  position: absolute; 
  width: 100px;
  margin-top: 1px;
}
ul.menu > li.accessories ul {
  margin-left: -6px;
  display: none; 
  position: absolute; 
  width: 125px;
  margin-top: 1px;
}
ul.menu > li:hover ul {
  display: block;
}
ul.menu > li ul li {
  display: block;
}

.dropdown {
  position: absolute;
  z-index: 1000;
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 10px;
  background-color: #000000;
}
.sublink {
  background-color: #000000;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: .85em;
}