.app {
  height: 100vh;
}

/* Nav */
.nav {
  display: flex;
}
.menu {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 22px;
  background-color: #000000;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .1em;
}
.dropdown {
  position: absolute;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 0px;
  background-color: #000000;
}
.dropdownLinks {
  background-color: #000000;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: .85em;
  padding-top: 9px;
}
.clothes .dropdownLinks:hover {
  border: 2px solid white;
  margin-left: 4px;
  height: 6px;
  width: 77%;
}
.shoes .dropdownLinks:hover {
  border: 2px solid white;
  height: 6px;
  margin-left: 4px;
  width: 73%;
}
.accessories .dropdownLinks:hover {
  border: 2px solid white;
  margin-left: 4px;
  height: 6px;
  width: 79%;
}
.menu li {
  padding-top: 2px;
}
.menu > li:hover ul, li ul li {
  display: block;
}
.menu a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.clothes ul {
  margin-left: -19px;
  display: none; 
  position: absolute; 
  width: 120px;
  margin-top: 1px;
}
.shoes ul {
  margin-left: -20px;
  display: none; 
  position: absolute; 
  width: 100px;
  margin-top: 1px;  
}
.accessories ul {
  margin-left: -10px;
  display: none; 
  position: absolute; 
  width: 125px;
  margin-top: 1px;  
}


/* Footer  */
.footer {
  font-size: 14px;
}
.footer__ul {
  list-style-type: none;
}
.footer__li {
  border-bottom: 2px solid black;
}
.footer__link {
  color: black;
  text-decoration: none;
}

